@model IEnumerable<IDCapstone.Models.Video>
@inject IDCapstone.Services.EmbedUrlService EM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => video.Url)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.GameName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@video.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@video.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@video.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@

@foreach (var video in Model)
{

<div class="col-4">
    <p> @Html.DisplayFor(modelItem => video.Title)</p>
    <iframe src="@EM.GetEmbedUrl(video.Url)"
            height="360"
            width="100%"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
    </iframe>
    <a asp-action="CreateComment" asp-controller="Comments" asp-route-id="@video.Id">Add Comment</a>
    <a asp-action="Details"   asp-route-id="@video.Id">Show Comments</a>
</div>
}
