@model IEnumerable<IDCapstone.Models.Video>
@inject IDCapstone.Services.EmbedUrlService EM

@{
    ViewData["Title"] = "Video Repository";
}


<div class="container" >

    <div class="row justify-content-center" @*style="background-color:green*@>
        <div style="font-size:x-large" class="col-sm-2"><a asp-action="Create">Add A Clip</a></div>
        <div class="col-sm-6" @*style="background-color:purple"*@>

            <form asp-action="Index" method="get">

                <p style="font-size:medium">
                    Search By Title: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" @*style="background-color:orange*@ /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>

            </form>
        </div>
        <div class="col-sm-4 align-content-end" @*style="background-color:yellow*@>
            @using (Html.BeginForm("DropDown", "Videos", FormMethod.Get))
            {
                <p style="font-size:medium">
                    Search By Game @Html.DropDownList("SearchString", Games.Game, new { onChange = "this.form.submit();" })
                </p>
            }
            
        </div>
        
    </div>
</div>
@*<form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                @Html.BeginForm("Index", "Home", FormMethod.Post)
                @Html.DropDownList("Game", Games.Game, new {onchange = "this.form.submit();"})
                Find by name: <select type="text" name="SearchString" value="@ViewData["DListFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to Full List</a>
            </p>
        </div>
    </form>*@

@*<table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GameName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var video in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => video.Url)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => video.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => video.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => video.GameName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@video.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@video.Id">Details</a> |
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

@foreach (var video in Model)
{

<div class="container-fluid align-items-center align-content-center justify-content-center">
    <div class="row align-items-center align-content-center justify-content-center">
        <div class="align-items-center align-content-center justify-content-center">
            <p style="padding-top:50px"> @Html.DisplayFor(modelItem => video.Title)</p>
        </div>
    </div>
    <div class="row align-items-center align-content-center justify-content-center">
        <div class="align-items-center align-content-center justify-content-center">
            <iframe src="@EM.GetEmbedUrl(video.Url)"
                    height="360"
                    width="630"
                    frameborder="0"
                    scrolling="no"
                    allowfullscreen="true">
            </iframe>
        </div>
    </div>
    <div class="row align-items-center align-content-center justify-content-center">
        <div class="align-items-center align-content-center justify-content-center">
            <a style="font-size:x-large" asp-action="CreateComment" asp-controller="Comments" asp-route-videoId="@video.Id">Add Comment</a>
        </div>
    </div>
    <div class="row align-items-center align-content-center justify-content-center">
        <div class="align-items-center align-content-center justify-content-center">
            <a style="font-size:x-large" asp-action="Details" asp-route-id="@video.Id">Show Comments</a>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
    <div class="row align-items-center align-content-center justify-content-center">
        <div class="align-items-center align-content-center justify-content-center">
            <a asp-action="Delete" asp-route-id="@video.Id">Delete</a>
        </div>
    </div>
    }
</div>
    }
