@model IEnumerable<IDCapstone.Models.Tournament>

@{
    ViewData["Title"] = "Tournaments";
}

<h1>Current Tournaments</h1>
@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Add A Tournament</a>
</p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                Tournament Name
            </th>
            <th>
                Tournament Organizer
            </th>
            <th>
                Prize Pool
            </th>
            <th>
                Games Played
            </th>
            <th>
                Location
            </th>
            <th>
                Tournament Date
            </th>
            <th>
                Google Maps Location
            </th>
            <th>
                Tournament Time
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentOrganizer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrizePool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Games)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TournamentDate)
            </td>
            <td>
                <a href="@(item.MapsLocation)" target="_blank">Google Maps Location</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            @if (User.IsInRole("Admin"))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
